// This is where your application styles could go.
@import url('https://fonts.googleapis.com/css2?family=Inter:wght@400;500;600;700&display=swap');

.bx--header__global, .GlobalSearch-module--searchButton--h3xR0, .Header-module--header--GJDvk .Header-module--header-button--cTW-C.Header-module--switcher-button--FrOpW, .Header-module--headerName--01F2z {
    background-color: #1F2937;
}

body {
    font-family: 'Inter', sans-serif !important;
}
.PageHeader-module--page-header--NqfPe {
    background-color: #F3F4F6 !important;
    color: #111827 !important;
    border-bottom: unset !important;
}

.container--g10 {
    background: #fff;
    color: #111827;
}
.NextPrevious-module--wrapper--jrIYs {
    background: #374151;
    color: #ffffff;
}
.NextPrevious-module--link--gGvZe:hover {
    background-color: #1F2937 !important;
}
.Footer-module--footer--spNBO {
    background-color: #111827;
}
a.bx--side-nav__link[aria-current="page"], a.bx--side-nav__link--current {
    background-color: #F3F4F6;
    font-weight: 500 !important;
    color: #111827;
    font-family: 'Inter', sans-serif !important;
}
a.bx--side-nav__link:hover {
    background-color: #F9FAFB !important;
}
span.bx--side-nav__link-text {
    color: #4B5563 !important;
    font-weight: 500;
    letter-spacing: normal !important;
}
button.bx--side-nav__submenu {
    color: #4B5563 !important;
    font-weight: 500;
    letter-spacing: normal !important;
}
.bx--side-nav__menu a.bx--side-nav__link--current, .bx--side-nav__menu a.bx--side-nav__link[aria-current=page], a.bx--side-nav__link--current {
    background-color: #F3F4F6;
}
.AnchorLinks-module--link--xy7Z0:before {
    content: "-";
}
/** Tabs **/
.PageTabs-module--tabs-container--Cdfzw {
    background-color: #ffffff !important;
}
.PageTabs-module--list-item--024o6:not(.PageTabs-module--selected-item--aBB0K) .PageTabs-module--link--Kz-7R {
    color: #6B7280 !important;
    font-weight: 500 !important;
}
.PageTabs-module--list-item--024o6:not(.PageTabs-module--selected-item--aBB0K) .PageTabs-module--link--Kz-7R:hover {
    color: #374151 !important;
    font-weight: 500 !important;
    background-color: #F9FAFB !important;
}
.PageTabs-module--selected-item--aBB0K .PageTabs-module--link--Kz-7R {
    border-top: unset !important;
    border-bottom: 2px solid #0080FF !important;
    background: #fff !important;
    color: #0080FF !important;
    font-weight: 500 !important;
    padding-top: 16px;
}

/** Spacing **/ 
.Main-module--padded--HNtoD {
    padding-top: 50px !important;
}

/* Header Spacing */
.Markdown-module--h2--5IV3j {
    margin-top: 50px !important;
}
.Markdown-module--h3--kj\+Xb {
    margin-top: 30px !important;
}
.Markdown-module--h4--T9V-\+ {
    margin-bottom: 10px;
}

img.center {
    margin-left: auto;
    margin-right: auto;
}

/** Banner **/
.Banner-module--column--PEwtk {
    color: #1F2937;
}

.Banner-module--row--a8oKb h1 {
    padding: 1rem 0;
}
.Banner-module--row--a8oKb p {
    padding-bottom: 2rem;
    width: 35%;
}

/** Homepage Card **/
.homepage-card {
    background-color: #ffffff;
    color: #111827;
    padding-top: 1.5rem;
    padding-bottom: 1.5rem;
    padding-left: 1.5rem;
    padding-right: 1.5rem;
    border-radius: 8px;
    box-shadow: 0 1px 3px 0 rgb(0 0 0 / 0.1), 0 1px 2px -1px rgb(0 0 0 / 0.1);
    transition: 0.3s;
}
.homepage-card:hover {
    box-shadow: 0 20px 25px -5px rgb(0 0 0 / 0.1), 0 8px 10px -6px rgb(0 0 0 / 0.1);
}
.Callout-module--grid--YYN36 a {
    text-decoration: none !important;
}
h2.headline2.css-1ap99dr-content-heading {
    font-weight: 500;
    font-size: 28px;
    padding-bottom: 4px;
}
p.lg.css-1voojgg-content-description {
    font-size: 14px;
    color: #6B7280;
}
p.link.css-1a1v1z7-clickable-card-animated-link {
    font-size: 14px;
    color: #0080FF;
    font-weight: 500;
}
.Callout-module--grid--Ilgc9 a {
    color: currentColor;
    text-decoration: none;
}
.bx--grid.Callout-module--grid--Ilgc9 {
    background-color: #0080FF;
}

/** Homepage **/
.Banner-module--grid--3L\+QD {
    height: 60vh !important;
}

/** Homepage Card Sm **/
p.title-card-description.Markdown-module--paragraph--KTgXw.Markdown-module--paragraph--responsive--f8rFI {
    font-size: 14px;
    color: #6B7280;
    padding-top: 10px;
    width: 100%;
}
.title-card-sm.border-right {
    border-right-color: #D1D5DB;
    border-right-width: 1px;
    border-right-style: solid;
}
.homepage-card-sm {
    text-decoration: none !important;
    background-color: #fff;
    padding-top: 0px;
    padding-bottom: 24px;
    padding-left: 24px;
    padding-right: 24px;
    border-radius: 6px;
    background: #FFFFFF;
    box-shadow: 0 1px 3px 0 rgb(0 0 0 / 10%), 0 1px 2px -1px rgb(0 0 0 / 10%);
    overflow: hidden;
    grid-column: span 4;
    min-height: 272px;
    transition: 0.3s;
}
.homepage-card-sm:hover {
    box-shadow: 0 20px 25px -5px rgb(0 0 0 / 0.1), 0 8px 10px -6px rgb(0 0 0 / 0.1);
}

.flex {
    display: flex;
    flex-direction: row;
    align-content: space-between;
}
.p-right {
    padding-right: 15px;
}
img.icon-box {
    margin-bottom: 10px;
    width: 42px;
}
.homepage-card-sm h3 {
    color: #111827 !important;
    font-weight: 500;
}

/** DoDont Card **/
.DoDontRow-module--caption--8tP-9 {
    background-color: #F0FDF4;
    border-top: 4px solid #22C55E;
    padding: 16px;
    border-radius: 0px 0px 4px 4px;
}

.DoDontRow-module--incorrect--HPgl1 .DoDontRow-module--caption--8tP-9 {
    background-color: #FEF2F2;
    border-top: 4px solid #EF4444;
    padding: 16px;
    border-radius: 0px 0px 8px 8px;
}

.DoDontRow-module--correct--9u6kZ .DoDontRow-module--card--gsy5L::before {
    background: unset;
}
.DoDontRow-module--incorrect--HPgl1 .DoDontRow-module--card--gsy5L::before {
    background: unset;
}
.DoDontRow-module--card--gsy5L {
    background: #F9FAFB;
    width: 100%;
    position: relative;
    border-radius: 8px;
}
.DoDontRow-module--content--19hru img {
    display: block;
    margin-bottom: 0;
    width: 100%;
    margin-left: auto;
    margin-right: auto;
}

/** Icon Aside **/
aside.Aside-module--aside--L09Vi svg {
    width: 32px;
    fill: white;
    padding-bottom: 10px;
}
aside.Aside-module--aside--L09Vi.icon-aside {
    background-color: #F3F4F6;
    padding-top: 20px;
    border-top-right-radius: 8px;
    border-top-left-radius: 8px;
    height: 150px;
}
.icon-link {
    display: flex;
    flex-direction: row;
    align-items: center;
    background-color: #374151;
    width: 135%;
    height: 55px;
    border-bottom-right-radius: 8px;
    border-bottom-left-radius: 8px;
}
span.icon-code {
    padding-left: 20px;
}
span.icon-aside-title {
    padding-left: 20px;
}
span.icon-title {
    color: #fff;
    padding-left: 20px;
    padding-right: 20px;
    font-weight: 600;
    font-size: 14px;
}
.icon-link-src {
    color: #fff !important;
    text-decoration: none !important;
    padding-right: 10px;
    text-align: left;
    align-items: center;
}
.icon-link-src svg {
    padding-top: 10px !important;
}
.icon-link > a > svg {
    width: 12px;
}
.Aside-module--aside--L09Vi:before {
    background: none !important;
}